<div id="step-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Requestor Username: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="req_username">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Requestor name: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="req_name">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Mobile #: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_mobile_no">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Division: </label>
                <div class="col-md-9">
                    <select class="form-control form-control-sm clear usr_ctrl input_state" id="ra_division">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Local #: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_local_no">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Department: </label>
                <div class="col-md-9">
                    <select class="form-control form-control-sm clear usr_ctrl input_state" id="ra_department">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Intranet Email: </label>
                <div class="col-md-9">
                    <input type="email" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_email">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Section: </label>
                <div class="col-md-9">
                    <select class="form-control form-control-sm clear usr_ctrl input_state" id="ra_section">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Building: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_building">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Floor: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_floor">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Process/Area: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_process_area">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Work Request</label>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ra_repair">
                        <label class="form-check-label" for="ra_repair">
                            Repair
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ra_maintenance">
                        <label class="form-check-label" for="ra_maintenance">
                            Maintenance
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ra_contruction">
                        <label class="form-check-label" for="ra_contruction">
                            Construction
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" placeholder="Others" aria-label="Text input with checkbox">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Classification</label>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ra_electrical">
                        <label class="form-check-label" for="ra_electrical">
                            Electrical
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ra_mechanical">
                        <label class="form-check-label" for="ra_mechanical">
                            Mechanical/HVAC
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ra_civil">
                        <label class="form-check-label" for="ra_civil">
                            Civil
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" placeholder="Others" aria-label="Text input with checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-1 col-form-label">Details: </label>
                <div class="col-md-11">
                    <textarea class="form-control form-control-sm clear usr_ctrl input_state" id="ra_details" style="resize: none;" rows="4"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Utilities:</label>
                <div class="col-md-2">
                    <button class="btn btn-sm btn-block btn-success" type="button">Exhaust</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-sm btn-block btn-success" type="button">Waste Water</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-sm btn-block btn-success" type="button" id="btn_ra_plus">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-sm btn-block btn-success" type="button">View All</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Drawing:</label>
                <div class="col-md-10">
                    <div id="dropzone">
                        <form action="/upload" class="dropzone needsclick dz-clickable">
                            <div class="dz-message needsclick">
                                Drop files <b>here</b> or <b>click</b> to upload.<br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Received By: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_receieved_by">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Work Category</label>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ra_facilities">
                        <label class="form-check-label" for="ra_facilities">
                            Facilities Division
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ra_contractor_supplier">
                        <label class="form-check-label" for="ra_contractor_supplier">
                            Contractor/Supplier
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Request Assigned: </label>
                <div class="col-md-9">
                    <select class="form-control form-control-sm clear usr_ctrl input_state" id="ra_request_assigned">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Notes: </label>
                <div class="col-md-9">
                    <textarea class="form-control form-control-sm clear usr_ctrl input_state" id="ra_notes" style="resize: none;" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Priority Level: </label>
                <div class="col-md-7">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_receieved_by">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-block btn-sm" type="button">Criteria</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Date Received: </label>
                <div class="col-md-9">
                    <input type="date" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_receieved_date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="ra_tbl_plus">
                        <thead class="th-dark">
                            <tr>
                                <th rowspan="2">Approved Quotation</th>
                                <th rowspan="2">Target Date Completion</th>
                                <th colspan="2">Approved</th>
                            </tr>
                            <tr>
                                <th colspan="2">Work Order In-charge</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center">Signature Box</td>
                            </tr>
                            <tr>
                                <td class="text-center"><img src="assets/img/approved.png" height="50px"></td>
                                <td class="text-center"><img src="assets/img/approved.png" height="50px"></td>
                                <td class="text-center"><img src="assets/img/approved.png" height="50px"></td>
                                <td class="text-center"><img src="assets/img/approved.png" height="50px"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Company Name: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_comp_name">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Contractor: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_contractor">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Date Requested: </label>
                <div class="col-md-9">
                    <input type="date" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_date_requested">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Quotation Submission Date: </label>
                <div class="col-md-9">
                    <input type="date" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_submission_date">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Survey Date/Time: </label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm clear usr_ctrl input_state" id="ra_survey_date">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped" id="ra_tbl_contructor">
                <thead class="th-dark">
                    <tr>
                        <th>Company Name</th>
                        <th>Contractor</th>
                        <th>Date Requested</th>
                        <th>Survey Date/time</th>
                        <th>Quotation Submission</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Company 1</td>
                        <td>Contractor 1</td>
                        <td>2021-01-01</td>
                        <td>18:00</td>
                        <td>2021-01-01</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group row">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="facilities_quotation">
                        <label class="form-check-label" for="facilities_quotation">
                            Facilities Quotation
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="contractor_quotation">
                        <label class="form-check-label" for="contractor_quotation">
                            Contractor Quotation
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Completion Details: </label>
                <div class="col-md-9">
                    <textarea class="form-control form-control-sm clear usr_ctrl input_state" id="ra_comp_details" style="resize: none;" rows="6"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <table class="table table-bordered table-striped" id="tbl_plus">
                <thead class="th-dark">
                    <tr>
                        <th colspan="2" class="text-center">Confirmation</th>
                    </tr>
                    <tr>
                        <th>FACILITIES</th>
                        <th>REQUESTOR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 80px"></td>
                        <td style="height: 80px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
